[Unit]
Description=Update DNS A record
Wants=update-dns.timer

[Service]
Type=simple
EnvironmentFile=/home/pi/gogo-garage-opener/.env
ExecStart=/home/pi/gogo-garage-opener/update-dns/update.sh
WorkingDirectory=/home/pi/gogo-garage-opener/update-dns/

[Install]
WantedBy=multi-user.target
