[Unit]
Description=Update DNS A record
Wants=update-dns.timer

[Service]
Type=forking
ExecStart=/usr/bin/docker
Restart=always

[Install]
WantedBy=default.target
