[Unit]
Description=Garage opener service

[Service]
User=pi
Type=simple
EnvironmentFile=/home/pi/gogo-garage-opener/.env
ExecStart=/home/pi/.local/bin/docker-compose up -d
WorkingDirectory=/home/pi/gogo-garage-opener/

[Install]
WantedBy=multi-user.target
