[Unit]
Description=Garage opener service
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
User=pi
Type=simple
EnvironmentFile=/home/pi/gogo-garage-opener/.env
ExecStart=docker-compose -f docker-compose-arm64v8.yml up -d
WorkingDirectory=/home/pi/gogo-garage-opener/

[Install]
WantedBy=multi-user.target
